#grid{
	width: 100%;
}
#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8,#div9,#div10,
#div11,#div12,#div13,#div14,#div15,#div16,#div17,#div18,#div19,#div20,
#div21,#div22,#div23,#div24,#div25,#div26,#div27,#div28,#div29,#div30,
#div31,#div32,#div33,#div34,#div35,#div36,#div37,#div38,#div39,#div40,
#div41,#div42,#div43,#div44,#div45,#div46,#div47,#div48,#div49,#div50,
#div51,#div52,#div53,#div54,#div55,#div56,#div57,#div58,#div59,#div60
{
	width: 40px;
	height: 40px;
	float: left;
	background-color:lightgrey;
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
}
#div1,#div11,#div21,#div31,#div41,#div51{
	clear: both;
}
#doar{
	float: left;
	clear: right;
margin: 10px 20px;
}
button{
	padding: 5px 10px;
}
#score{
	margin-top: 30px;
	margin-left: 5px;
max-width: 500px;
}
#board{
	float: right;
	margin: 15px;
}
#xd{
	float: right;
	margin-left: 15px; 
	margin-bottom:5px;
	clear: left;
}
.c{
	background-color: lightgreen !important;
}
.d{
	background-color: red !important;
	color: white !important;
	font-size: 50;
}